/*
font Inter and Oswald
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Oswald", sans-serif, arial;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* ------  header ---------------*/

header {
  width: 100%;
  background: url("../img/bg.jpg") #281a0c;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 0;
}
header .container {
  position: relative;
  height: 700px;
}

header .menu {
  width: 100%;
  text-align: right;
}

header .menu a {
  display: inline-block;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: 200;
  margin: 40px 20px;
  text-decoration: none;
  position: relative;
}
header .menu a:hover {
  text-decoration: underline;
}

header .text {
  width: 100%;
  color: #f2f2f2;
  position: absolute;
  top: 50%;
  margin-top: -52px;
}

header .text .name {
  font-size: 50px;
  font-weight: 600;
}

header .text .name span {
  font-weight: 300;
  margin-left: 25px;
}
header .text h3 {
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
}

/* ------------- main  ------------------- */

.main {
  background: url("../img/bg-pattern.webp");
  background-repeat: repeat;
}

.main .about .container {
  overflow: visible;
  position: relative;
}
.main .about .photo {
  width: 80%;
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.main .about .photo img {
  vertical-align: top;
  width: 100%;
}

.main .about article {
  background-color: #f2f2f2;
  padding: 40px;
  width: 50%;
  position: relative;
  top: 130px;
  z-index: 1;
  float: right;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.main .about article h3 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}

.main .about article p {
  line-height: 28px;
  margin-bottom: 15px;
}

/*------------- food menu----------------*/

.main .menu {
    padding-top: 450px;
    margin-bottom: 150px;
   
}
.main .menu .title{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.main .menu .coontainer_menu{
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}
.main .menu .coontainer_menu2 {

    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}

.main .menu article{
    width: 50%;
    float: left;
    padding: 20px;
}

.main .menu .categorie{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.main .menu .dish{
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 4px dotted #000;
    overflow: hidden;
}

.main .menu .name{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 15px;
    float: left;

}
.main .menu .price{
    font-size:20px;
    margin-bottom: 15px;
    float: right;

}

.main .menu .description{
    font-size: 16px;
    counter-reset: #676767;
    clear: both;
}

/*-------------- gallery -------------------*/

.main .gallery{
    overflow: hidden;
}

.main .gallery .photo{
    width: 25%;
    float: left;
}

.main .gallery .photo img{
    width: 100%;
    vertical-align: top;
    opacity: .7;
}

.main .gallery .photo img:hover{
    opacity: 1;
    transition: all .3s ease;
}

/*-------------- location -------------------*/

.main .location{
    background-color: #f2f2f2;
    padding: 60px 0;
    overflow: hidden ;
}

.main .location .title{
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;

}

.main .location .address{
    float: left;
    width: 50%;
    text-align: left;
}

.main .location .hours{
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}

.main .location .address  .street{
    margin-bottom: 15px;
}
.main .location .address  .phone{
    margin-bottom: 15px;
}

.main .location .hours h4{
    text-align: center;
    margin-bottom: 20px;
}

.main .location .hours .week,
.main .location .hours .weekend{
    width: 50%;
    float: left;
    text-align: center;
}

/*----------- Map ------------------*/

.main .map{
    width: 100%;
    overflow: hidden;
}

.main .map iframe{
    width: 100%;
    max-height: 600px;
}

footer{
    background-color: #000;
}
footer .copyright{
    text-align: center;
    color: #f2f2f2;
    padding: 15px 0;

}

/*----------- media queries ----------------*/

@media screen and (max-width:800px){
    /*----- header ----------*/
    header .container{
        position: static;
        height: auto;
    }

    header .text{
        position: static;
        margin: 100px 0;
    }

    header .menu{
        text-align: center;
    }

    header .menu a{
        margin: 10px 20px;
    }
    header .text .name{
        font-size: 30px;
    }

    header .text h3{
        font-size: 18px;
    }

    /* ---- main ------*/
    .main .about .photo{
        width: 100%;
        position: relative;
    }

    .main .about article{
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px, 0);
    }

    /*----- foot menu ---------*/
    .main .menu{
        padding-top: 200px;
        padding-bottom: 10px;
    }

    .main .menu article{
        width: 100%;
    }

    /*----- gallery ----------*/

    .main .gallery{
        padding-top: 10px;
        margin-top: 0;
    }
    .main .gallery .photo{
        width: 50%;
    }
    .main .map{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width:600px){
    header .text h3{
        font-size: 16px;
    }
    .main .about article h3{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .main .menu article .name,
    .main .menu article .price{
        font-size: 16px;
        line-height: 16px;
    }
    /*--------- locaton --------*/
    .main .location .title{
        padding-bottom: 25px;
    }
    
    .main .location .address{
        padding-bottom: 15px;
    }

    .main .location .address,
    .main .location .hours{
        width: 100%;
        text-align: center;
        
    }
}

